/.project
/.settings/*
/*/.settings/*
/.settings/
*.classpath
*.project
*.eclipse.jdt.core.prefs
*.class
*/target/*
/target/
.idea/
.DS_Store
*.classpath
*.project
.settings
.project
.target
.classpath
*/.settings
*/.classpath
*/.eclipse
*/target/
target/
bin/
.svn
*.iml